


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">view USER</li>
  </ol>
</nav>

<div class="view-user p-5">
    {{#each rows}}

    <div class="row mb-5">
          <div class="col text-center">
              <h3> {{this.first_name}} {{this.last_name}}</h3>

           </div>
    </div>

 <div class="table">  
<table class="table table-bordered">
    <thead>
        <tr>
            
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">comments</th>
            
        </tr>
    </thead>
    <tbody>

        
        <tr>
           
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}} </td>
            <td>{{this.phone}} </td>
            <td>{{this.comments}} </td>
            

        </tr>
       

    </tbody>
</table>
</div>
{{!-- 
<div class="row">
<div class="col">
    <b>comments</b>
</div>


</div>

<div class="row">
<div class="col">
    <b>{{this.comments}}</b>
</div>
</div>
 --}}





 {{/each}}









</div>